@media (max-width: 1140px){
  .nav_logo,
  footer p,
  .subscribe-info{
    padding-left: 32px;
  }
  .social-media,
  .nav_menu,
  .subscribe{
    padding-right: 32px;
  }

}

@media (max-width: 800px) {

/* banner */

  .promo{
    height: 368px;
  }
  .promo img{
    height: 368px;
    margin-left: 106px;
  }
  .promo_text_top {
    font-size: 44px;
  }
  .promo_text_bottom {
    font-size: 24px;
  }

  /* shop section */

  .women_section,
  .men_section,
  .kids_section{
    height: 167px;
    width: 232px;
  }
  .shop-sections{
    gap: 19px;
    margin-bottom: 154px;
  }
  .accesories_section{
    height: 116px;
    width: 737px;
  }

  /* products */

  .products-container{
    gap: 16px;
  }

  /* advantages block */

  .advantages-container{
    flex-direction: column;
    gap: 48px;
  }
  .advantages{
    padding: 48px 0;
  }

  /* subscribe block */

  .subscribe-wrapper{
    flex-direction: column;
    height: 614px;
  }
  .subscribe-info{
    margin-top: 64px;
  }
  .subscribe{
    margin-bottom: 140px;
  }
  .subscribe-info,
  .subscribe{
    padding: 0;
  }

}

@media (max-width: 575px) {
  .promo img{
    display: none;
  }
  .promo{
    display: flex;
  }
  .menu a{
    display: inherit;
  }
  .promo img{
    display: none;
  }
  .promo_text{
    padding-right: 0;
  }
  .promo_text::before{
    width: 12px;
    height: 61px;
  }
}

@media (max-width: 375px) {

/* banner */

  .promo{
    height: 368px;
    display: flex;
  }
  .nav_menu a{
    display: none;
  }
  .menu a{
    display: inherit;
  }
  .promo img{
    display: none;
  }
  .promo_text{
    padding-right: 0;
  }
  .promo_text::before{
    width: 12px;
    height: 61px;
  }
  .promo_text_top {
    font-size: 38px;
  }
  .promo_text_bottom {
    font-size: 20px;
  }

  /* shop section */

  .women_section,
  .men_section,
  .kids_section{
    height: 247px;
    width: 343px;
  }
  .shop-sections{
    gap: 19px;
    margin-bottom: 154px;
  }
  .accesories_section{
    height: 111px;
    width: 343px;
  }

  /* products */

  .products-container{
    gap: 16px;
  }

  /* advantages block */

  .advantages-container{
    flex-direction: column;
    gap: 48px;
  }
  .advantages{
    padding: 48px 0;
  }

  /* subscribe block */

  .subscribe-wrapper{
    flex-direction: column;
    height: 614px;
  }
  .subscribe-info{
    margin-top: 64px;
  }
  .subscribe-info p{
    font-size: 18px;
  }
  .subscribe{
    margin-bottom: 140px;
  }
  .subscribe p span{
    font-size: 14px;
  }
  .subscribe-submit {
    width: 341px;
  }

  /* footer */
  footer{

  }
  .footer_wraper{
    flex-direction: column-reverse;
    height: 143px;
  }
  footer p,
  .social-media{
    padding: 0;
    margin-bottom: 9px;
  }
  .social-media{
    margin: 40px 0;
  }
}
